{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='img/smiley.png') }}" class="logo" />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">Using demo app to mess with flask, docker, postgres and nfl data api (View source on <a href="https://github.com/toddbirchard/plotlydash-flask-tutorial">Github</a>).</p>
  <a href="/dashapp/" class="dash-link">
    <span>Embedded Plotly Dash</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>

<div class='card'>
  <h1 class="site-title">Pull data from DB</h1>
    <form>
      <a href="/data" class="dash-link">
        <button type="button" class="test-button">Generate Data</button>
      </a>
    </form><br>
    <div>
      <a>
        <span> {{ datatext }} </span>
      </a>
    </div>
</div>


<div class='card'>
  <h1 class="site-title">  Get data from nfl API </h1>
  <p class="subtitle">Use the espn nfl api to get data on a player.</p>
  <form action="/playerdata" method="POST">
    <label for="playername">Player Name:</label><br>
    <input type="text" id="playername" name="playername"><br><br>
    <input type=submit name="submit" class="test-button">
  </form><br>
  <div>
      <a>
        <span> {{ playername }} </span>
      </a>
    </div>
</div>

<div class='card'>
    <h1 class="site-title">  Roster Pipeline </h1>
    <select id="selectvalue">
        {% for t in teams %}
            <option value="{{ t }}">{{ t }}</option>
        {% endfor %}
    </select> 
</div>

<div class='card'>
  <h1 class="site-title"> Session Reset </h1>
    <form>
      <a href="/clear-data">
        <button type="button" class="test-button">Clear Data</button>
      </a>
    </form><br>

</div>
{% endblock %}
