{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='img/logo@2x.png') }}" class="logo" />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">Demo for testaaaaaa embedding Plotly Dash within Flask Apps (View source on <a href="https://github.com/toddbirchard/plotlydash-flask-tutorial">Github</a>).</p>
  <a href="/dashapp/" class="dash-link">
    <span>Embedded Plotly Dash</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>

<div class='container'>
  <h3>Data creator</h3>
    <form>
          <a href="/data" class="dash-link">
            <button type="button">Generate Data</button>
            <i class="fas fa-arrow-right"></i>
            <span> {{ datatext }} </span>
          </a>
    </form>
</div>
{% endblock %}
